@media(min-width:320px) and (max-width:632px){
    
    .fundo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }

    .bg-video{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }


    .logo{
        width: 50px;
        height: 50px;
    }

    .descricao{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        width: 300px;
    }
    
    .descricao h1{
        font-size: 35px;
        text-align: center;
    }

    .descricao h2{
        margin-top: 30px;
        font-size: 20px;
    }

    .descricao p{
        text-align: center;
        font-size: 19px;
    }

    .descricao button{
        margin-top: 30px;
        width: 200px;
        height: 90px;
    }
}

@media(min-width:632px) and (max-width:1124px){
    .fundo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }

    .bg-video{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }

    .img{
        display: flex;
    }

    .logo{
        width: 70px;
        height: 70px;
    }

    .descricao{
        display: flex;
        height: 100vh;
        justify-content: flex-start;
    }
    
    .descricao h1{
        font-size: 50px;
        text-align: center;
    }

    .descricao h2{
        margin-top: 20px;
        font-size: 40px;
    }

    .descricao p{
        text-align: center;
        font-size: 25px;
    }

    .descricao button{
        margin-top: 30px;
        width: 200px;
        height: 90px;
    }
}

@media(min-width:1125px) and (max-width:2040px){
    .bg-video{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }
}